################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/IoTConnectHub/MyIoTService/appsettings.Development.json
/IoTConnectHub/MyIoTService/appsettings.json
